<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Inventory_manage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.main.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.main.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRawMaterialServlet</display-name>
    <servlet-name>AddRawMaterialServlet</servlet-name>
    <servlet-class>com.main.AddRawMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRawMaterialServlet</servlet-name>
    <url-pattern>/AddRawMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProcessMaterialServlet</display-name>
    <servlet-name>AddProcessMaterialServlet</servlet-name>
    <servlet-class>com.main.AddProcessMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProcessMaterialServlet</servlet-name>
    <url-pattern>/AddProcessMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueRawMaterialServlet</display-name>
    <servlet-name>IssueRawMaterialServlet</servlet-name>
    <servlet-class>com.main.IssueRawMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueRawMaterialServlet</servlet-name>
    <url-pattern>/IssueRawMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueProcessedMaterialServlet</display-name>
    <servlet-name>IssueProcessedMaterialServlet</servlet-name>
    <servlet-class>com.main.IssueProcessedMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueProcessedMaterialServlet</servlet-name>
    <url-pattern>/IssueProcessedMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRawMaterialServlet</display-name>
    <servlet-name>UpdateRawMaterialServlet</servlet-name>
    <servlet-class>com.main.UpdateRawMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRawMaterialServlet</servlet-name>
    <url-pattern>/UpdateRawMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProcessedMaterialServlet</display-name>
    <servlet-name>UpdateProcessedMaterialServlet</servlet-name>
    <servlet-class>com.main.UpdateProcessedMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProcessedMaterialServlet</servlet-name>
    <url-pattern>/UpdateProcessedMaterialServlet</url-pattern>
  </servlet-mapping>
</web-app>